.image{
    width: 400px;
    height: 400px;
}

.projects{
    font-family: 'Raleway', sans-serif;
}

.project-txt{
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: rgb(194, 194, 194);
    margin-bottom: 30px;
}


.scroll-boxes .box{
    background-position: top;
    transition: ease-in-out 4s;
}

.scroll-boxes .box.box-0{
    background: url(../../assets/UniAid.png);
    background-size: cover;
}

.scroll-boxes .box.box-1{
    background: url(../../assets/cookies.png);
    background-size: cover;
}
.scroll-boxes .box.box-9{
    background: url(../../assets/Home-Console.png);
    background-size: cover;
}
.scroll-boxes .box.box-2{
    background: url(../../assets/coco.png);
    background-size: cover;
}
.scroll-boxes .box.box-3{
    background: url(../../assets/eduhub.png);
    background-size: cover;
}

.scroll-boxes .box:hover{
    background-position: bottom;
}

.inner-side{
    padding: 5px;
}

span{
    border: 1px solid #55d086;
    border-radius: 10px;
    margin: 3px;

}